/*Header*/
.navbar-brand{
	color:white;
	margin:0 2rem 0 1rem;
}
.nav-item{	
	color:white;
	margin:0 4rem 0 4rem;
}



/*Admin Homepage*/

.titlemes{
	background:url(../images/admin/b2.jpg) center center no-repeat;
	height:25rem;	
	margin: -1.25rem -10.3rem 6.25rem -10.3rem;
}

.titlemes .display-4{
	font-size: 50px;
	color:white;
	font-family: helvetica;
	margin:8px 200px 0 200px;
	padding: 120px 0 20px 0;
	
}

.titlemes .lead{
	font-size: 30px;
	color:white;
	font-family:helvetica;
	margin: 0 200px 0 200px;
}



.endblock{
	padding: 500px 0 100px 0;
	
}

/*User Profile*/

.input-group{
	padding: 0 0 80px 0;
	
}

.endblock2{
	padding: 100px 0 100px 0;
	
}

/*Profile Data*/

.dataprofile{
	margin: 0 200px 0 200px;
	
}

.profilebutton{
	text-align:center;	
}

/*Forum Home*/
.modulehome1{	
	padding: 10px 75px 0px 75px;
	display: inline-block;
}

.textforum{	
	text-align:center;
	color:white;
	font-size: 3rem;
	font-family: helvetica;
} 

.desforum{	
	text-align:center;
	color:white;
	font-size: 1rem;
	font-family: helvetica;
} 

.desforum{	
	
	color:white;
	font-size: 1.3rem;
	font-family: helvetica;
	padding: 5rem 0 0 0;
} 

.pikaimg{
	padding: 50px 0 50px 0;
	
}

.modulehome2{	
	margin: -8rem 22.5rem 20rem 22.5rem;
}

/*Add Post on Forum*/
.addpost{
	margin: 0 6rem 0 6rem;
}

.addpost{
	margin: 0 6rem 0 6rem;
}

.tags{
	padding: 0 4rem 0 0;
	display: inline-block;
}

.addatag{
	margin: 3rem 0 1rem 0;
	font-family: helvetica;
}

.addcontent{
	margin: 0rem 0 1rem 0;
	font-family: helvetica;
}
.posttext{
	margin: 2rem 0 3rem 0
}
.subbuttons{
	display:inline-block;
	margin: 0 9rem 5rem 9rem;
}

/* View Posts on Forum*/
.addmodule{
	display: inline-block;
	margin: 3rem 1rem 3rem 1rem;
}

/*post*/
.posttitles{
	margin: 0 200px 0 200px;
}
.posttitle1{
	font-family: helvetica;
	font-size:50px;
	margin:0 200px 0 300px;
	
}
.contentsection{
	font-family: helvetica;
	font-size:20px;
	
}

.postbuttons{
	display:inline-block;
	margin: 0 5rem 5rem 5rem;
}
